@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Haliç Üniversitesi</h1>
    <h3>Destek Talebi Sistemi</h3>
    <p>Başvuru yapabilmeniz için öncelikle kayıt olmanız gerekmektedir..</p>


    <a class="btn btn-primary" href="/Request/Apply"> > Kayıt Ol. </a>
</div>
