@model AppCenter.Models.Requester


<div class="card text-center">
    <div class="card-header">
        Tebrikler
    </div>
    <div class="card-body">
        <h5 class="card-title">Kaydınız tamamlandı. @Model.FirstName</h5>
  
        <p class="card-text">Giriş Yapabilirsiniz</p>

        <button class="btn-success" asp-action="Index"> Giriş yap</button>
    </div>
    <div class="card-footer text-muted">
        <p class="text-muted">Kayıt tarihi: @Model.RequestDate</p>
    </div>
</div>